body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: burlywood;
}

.site-title {
    color: slateblue;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul li {
    list-style-type: square;
}

:nth-child(1) #odd {
    background-color: cornflowerblue;
}

a:link {
    text-decoration: none;
}

a:link {
    background-color: darkgray;
    border: 10px black;
}

a:hover {
    background-color: green;
  }