body {
  background-color: #aad4cf;
  background-image: url(../images/lone-starfish-wide.jpg);
  background-repeat: no-repeat;
  background-position: top;
  width: 200px;
}
h1 {
  text-align:center;
  font-size: 50px;
  font-family: sans-serif;
  position: absolute;
  top: 15%;
  left: 0%;
  right: 0%;
  color: white;
}
nav ol {
  display: inline-block;
  width: 250px;
  text-decoration: none;
}
img {
  width: 340px;
  float: left;
  padding: 10px;
}
.container {
    position: absolute;
    background: #d4e9e7;
    top: 26%;
    left: 30%;
    right: -50%;
    font-size: 20px;
    width: 979px;
    height: 1200px;
    padding: 20px;
}
form {
  width: 966px;
}
form textarea{
  width: 966px;
  height: 113px;
}