body {
    font-style: italic;
    font-size: 18px;
}
header, footer {
    background-color:cornflowerblue
}
.site-title {
    color: gold;
}
#my-image {
    box-shadow: 0 0 2px 1px black;
}
.my-hobbies {
    list-style: square;
}
.my-hobbies li:nth-child(odd){
    background-color: darkgrey;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul {
    text-decoration: none;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 8px 12px; 
    background-color: #3498db; 
    border: 1px solid #2980b9;
    color: #fff;
    transition: background-color 0.3s ease;
}
nav a:hover,nav a:focus {
    background-color: #2980b9;
}