*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    max-width: 1200px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.logo {
    position: absolute;
    background-color: #c78c06;
    height: 11rem;
}

header {
    width: 83.7rem;
    height: 30rem;
    background-color: #222;
}

.nav-bar {
    position: absolute;
    list-style-type: none;
    color: #c78c06;
}
.nav-bar li:first-child a{
    color: #c78c06;
}

.main-banner {
    display: flex;
    position: relative;
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    margin: auto;
    max-width: 1200px;
    
}
.main-text {
    width: 100% 0;
    margin: 1rem;
    padding: 6rem;
    color: white;
    background-color: #0000008a;
    max-width: 1200px;
    width: 100%;
}
h1{
    font-size: 100px;
}
.main-text p{
    font-size: x-large;
}
.first-button {
    width: 12rem;
    height: 5rem;
    background-color: #c78c06;
    font-size: larger;
}
.about-us {
    display: flex;
    flex-direction: column;
    background-color: #ffe6ac;
}
.about-us h2{
    margin-left: 1rem;
    font-size: 50px;
}
.about-us img{
    margin: 1rem;
}
.about-us p{
    margin: 1rem 1rem 2rem 1rem;
    font-size: 20px;
}

.services h2{
    font-size: 50px;
}

.digi {
    background-color: #ffe6ac;
    padding: 2rem 1rem 1rem 1rem;
}

.digi h3 {
    font-size: xx-large;
}

.digi p {
    margin: 0 0 15px 0;
    font-size: x-large;
}
.digi img {
    width: 100%;
    height: auto;
}

.sec-button {
    width: 11rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222;
}

.sec-button {
    color: white;
    font-size: larger;
}

.marketing{
    background-color: #ffe6ac;
    padding: 2rem 1rem 1rem 1rem;
}

.marketing h3 {
    font-size: xx-large;
}

.marketing p {
    margin: 0 0 15px 0;
    font-size: x-large;
}
.marketing img {
    width: 100%;
    height: auto;
}

.third-button {
    width: 11rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222;
}

.third-button {
    color: white;
    font-size: larger;
}

.video {
    background-color: #ffe6ac;
    padding: 2rem 1rem 1rem 1rem;
}

.video h3 {
    font-size: xx-large;
}

.video p {
    margin: 0 0 15px 0;
    font-size: x-large;
}
.video img {
    width: 100%;
    height: auto;
}

.fourth-button {
    width: 11rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222;
}

.fourth-button {
    color: white;
    font-size: larger;
}

.web {
    background-color: #ffe6ac;
    padding: 2rem 1rem 1rem 1rem;
}

.web h3 {
    font-size: xx-large;
}

.web p {
    margin: 0 0 15px 0;
    font-size: x-large;
}
.web img {
    width: 100%;
    height: auto;
}

.fifth-button {
    width: 11rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222;
}

.fifth-button {
    color: white;
    font-size: larger;
}

.print {
    background-color: #ffe6ac;
    padding: 2rem 1rem 1rem 1rem;
}

.print h3 {
    font-size: xx-large;
}

.print p {
    margin: 0 0 15px 0;
    font-size: x-large;
}
.print img {
    width: 100%;
    height: auto;
}

.sixth-button {
    width: 11rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222;
}

.sixth-button {
    color: white;
    font-size: larger;
}

.our-vision h3 {
    font-size: 50px;
    color: white;
}
.our-vision {
    background-image: url(../images/vision.jpg);
    background-size: cover;
    padding: 10px 5px 5px;
}
.our-vision {
    color: white;
}
.seventh-button {
    width: 11rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222222c0;
}